{block content}
{foreach $projekts as $projekt}
    <h2>{$projekt->title}</h2>
    <button><a n:href="ProjektSetter:ProjektSetter $postId = $projekt->id">edit</a></button>
    <button><a n:href="ProjektSetter:ProjektSetter">create</a></button>
{/foreach}