h1{
    text-align: center;
    margin: 25px;
}
#container1{
    width: 80%;
    margin: 0 auto;
}
    .text-blok{
        width: 45%;
        display: inline-block;
        margin: 20px;
    }
    #blok-upozornenia{
        width: 45%;
        padding: 10px;
        margin: 20px;


        border: solid rgb(255, 205, 0) 2px;
        border-radius: 15px;
        background-color: rgba(255, 220, 0, 0.446);
        display: inline-block;



    }
