h1{
    text-align: center;
    margin: 25px;
}
#container1{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
    .text-blok{
        margin: 2em;

    }
    #blok-upozornenia{

        padding: 10px;
        margin: 2em;


        border: solid rgb(255, 205, 0) 2px;
        border-radius: 15px;
        background-color: rgba(255, 220, 0, 0.446);



    }
@media screen and (orientation: portrait) {
    #container1{
        width: 95%;
        flex-direction: column;
    }
}
