#edit-button {
    display: inline-block;

    text-decoration: none;
    padding: 2px;
    margin: 2px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 4px;

    border: solid 2px rgb(0, 105, 209) ;
    background-color: rgba(29, 124, 192, 0.871);
    color: white;
    
   

    text-decoration: none;
}