h1{
    margin: 0.3em auto;
    padding: 0.3em;
    text-align: center;
}
h2{
    margin: 0.3em auto;
    padding: 0.3em;
    text-align: center;
}
#canvas-container canvas{
    display: block;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid black;
    width: 60vh;
    height: 60vh;
    max-width: 80vw;
    max-height: 80vw;

}
#canvas-container{
    height: fit-content;
    width: fit-content;
    margin: 0 auto;


}
#url-text{
    padding: 0.3em;
    margin: 0.3em;
}
#url-local-link{
}
#download-button{
    border: black solid 2px;
}
/*******/
.comment-box{
    border: 2px solid black;
    padding: 0.4rem;

}