#main-container{
    width: 250px;
    margin: auto;
    display: flexbox;
}
.project-container{
    width: 250px;
    margin: 0 auto;
}

#edit-button {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    
    border: solid 2px rgb(0, 128, 255) ;
    background-color: rgb(70, 138, 211);
    color: white;
    
    border-radius: 4px;

    text-decoration: none;
}
#create-button a{
    margin-left: auto;

    text-decoration: none;
}
.predelet-button{
    background-color: red;
    color: white;
    padding: 2px;
    border: rgb(154, 0, 0) solid 2px;
    border-radius: 4px;
}

