#main-container{
    width: 250px;
    margin: auto;
    display: flexbox;
}
.project-container{
    width: 250px;
    margin: 0 auto;

    border: solid 2px rgb(72, 72, 72);
    border-radius: 4px;
    margin: 5px;
}
#create-button{
    margin-left: auto;
    margin-top: 1.5em;
    margin-left: 68px;

    text-decoration: none;
    display: inline-block;
    padding: 0.3em;
    font-size: 1rem;
    font-family: sans-serif;
    border-radius: 0.3em;
    font-weight: 500;


    border: solid 2px rgb(34, 156, 0) ;
    background-color: rgb(36, 168, 0);
    color: white;

    

}
#edit-button {
    display: inline-block;

    text-decoration: none;
    padding: 2px;
    margin: 2px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 4px;

    border: solid 2px rgb(0, 105, 209) ;
    background-color: rgba(29, 124, 192, 0.871);
    color: white;
    
   

    text-decoration: none;
}

.predelet-button{
    background-color: red;
    color: white;
    padding: 2px;
    border: rgb(154, 0, 0) solid 2px;
    border-radius: 4px;
    
    font-size: 15px;
    font-family: sans-serif;
}

