#main-container{
    width: 250px;
    margin: auto;
    display: flexbox;
}
.project-container{
    width: 250px;
    margin: 0 auto;
}
#create-button a{
    margin-left: auto;
}
.predelet-button{
    background-color: red;
    color: white;
    padding: 2px;
    border: rgb(154, 0, 0) solid 2px;
    border-radius: 4px;
}

