#canvas-container canvas{
    display: block;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid black;
    width: 60vh;
    height: 60vh;
    max-width: 80vw;
    max-height: 80vw;

}
#canvas-container{
    height: fit-content;
    width: fit-content;
    margin: 0 auto;


}
/*******/
.comment-box{
    border: 2px solid black;
    padding: 0.4rem;

}