h1{
    margin: 0.3em auto;
    padding: 0.3em;
    text-align: center;
}
h2{
    margin: 0.3em auto;
    padding: 0.3em;
    text-align: center;
}
#canvas-container canvas{
    display: block;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid black;
    width: 60vh;
    height: 60vh;
    max-width: 80vw;
    max-height: 80vw;

}
#canvas-container{
    height: fit-content;
    width: fit-content;
    margin: 0 auto;


}
#url-text{
    padding: 0.3em;
    margin: 0.3em;
}
#url-local-link{
}
#download-button{
    border: black solid 2px;
}
/******************
**Comment Sextion**
******************/
.comment-box{
    border: 2px solid black;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
}
.comment{
    padding: 0.4em;

}
    .comment .time-of-creation{
        margin-top: 1.5em;
    }
.hate-comment-warning{
    padding: 0.4em;
}
.comment-type-settings{
    margin-top: 2em;
    margin-left: 1em;
    padding: 0.4em;
    background-color: white;
    color: black;
}
/*****responsive comment section*******/
.comment-box-hate{
    background-color: rgba(202, 34, 12, 0.726);
    color: rgb(244, 244, 244);
}
.comment-hate{
    display: none;
}
.comment-none{
    display: block;
}

.hate-comment-warning-hate{
    display: block;
}
.hate-comment-warning-none{
    display: none;
}

.hide-comment-none{
    display: none;
}
    