*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    height: 100svh; /*nastavenie, pre mobily, lebo oni  majú lštu ktorá pri scrolovaní zmizne, ale vievport s ňou počíta, ako keby tam nebola*/
    grid-template-rows: auto 1fr auto;

    
}
header ul li a{
    text-decoration: none;
}
/*******Horná lišta********/
@media(orientation: landscape){
    header{
    
    display: grid;
    grid-template-columns: 80vw 20vw ;
    }
    /*navigacia*/
    header ul{
        display: grid;
        grid-template-columns: auto auto auto auto ;
        list-style: none;
    }
    header ul li{
        border: solid rgb(0, 0, 0) 2px;
    }
    
}
@media(orientation: portrait){
    header{
    
    display: grid;
    grid-template-columns: 80vw 20vw ;
    }
    /*navigacia*/
    header ul{
        display: grid;
        grid-template-columns: auto auto auto ;
        list-style: none;
    }
    header ul li{
        border: solid red 2px;
    }
}


/****control form****/
#unclick-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(62, 62, 62, 0.143);
    z-index: 1;
}
#control-formular{
    border: 2px solid black;
    background-color: white;
    width: 250px;
    margin: 45vh auto;
    z-index: 2;
    padding: 5px;


}
#control-formular #delet-projekt-button{
    background-color: red;
    color: white;
    padding: 2px;
    border: rgb(154, 0, 0) solid 2px;
    border-radius: 4px;
}
