*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    display: grid;
    height: 100svh; /*nastavenie, pre mobily, lebo oni  majú lštu ktorá pri scrolovaní zmizne, ale vievport s ňou počíta, ako keby tam nebola*/
    grid-template-rows: auto 1fr auto;

    
}
#flash-message-container p{
    text-align: right;
    padding: 0.3em 1em;
    
}
header ul li a{
    padding: 0.3em;
    text-decoration: none;
}
.form-container{
    max-width: 350px;
    margin: 0 auto;
}

.inputs{
    padding: 0.3em;
    border-radius: 0.3em;
    margin: 0.3em 0.3em;
    font-size: 1rem;
}
/*******Horná lišta********/
@media(orientation: landscape){
    /*navigacia*/
    header ul{
        display: grid;
        grid-template-columns: auto auto auto ;
        list-style: none;
    }
    header ul li{
        border: solid rgb(0, 0, 0) 2px;
    }
    
}
@media(orientation: portrait){
    /*navigacia*/
    header ul{
        display: grid;
        grid-template-columns: auto auto auto ;
        list-style: none;
    }
    header ul li{
        border: solid rgb(0, 0, 0) 2px;
    }
}
/*****buttons style***/
.buttons{
    display: inline-block;

    font-size: 1rem;
    padding: 0.3em;
    margin: 0.3em 0.3em;
    border-radius: 0.3em;

    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
}
.blue-button {
    display: inline-block;

    text-decoration: none;
    padding: 0.3em;
    margin: 0.3em 0.3em;
    font-size: 1rem;
    font-family: sans-serif;
    border-radius: 0.3em;

    border: solid 2px rgb(0, 105, 209) ;
    background-color: rgba(29, 124, 192, 0.871);
    color: white;
    cursor: pointer;
}
.green-button{
    display: inline-block;
    padding: 0.3em;
    margin: 0.3em 0.3em;
    font-size: 1rem;

    font-weight: 500;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 0.3em;
    

    border: solid 2px rgb(34, 156, 0) ;
    background-color: rgb(36, 168, 0);
    color: white;
    cursor: pointer;

}

/****control form****/
#unclick-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(62, 62, 62, 0.143);
    z-index: 1;
}
#control-formular{
    border: 2px solid black;
    background-color: white;
    max-width: 300px;
    margin: 45vh auto;
    z-index: 2;
    padding: 0.3em;


}
#control-formular #delet-projekt-button{
    background-color: red;
    border: rgb(154, 0, 0) solid 2px;
    color: white;
    cursor: pointer;

    font-size: 1rem;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.3em;
}
#cancel-control-formular{
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.3em;
}

/****footer****/
footer p{
    padding: 0.3em;
}