<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
<!--linky pre css-->
	<link rel="stylesheet" href="{$basePath}/style/style.css">
	<!-- Meniace linky pre css -->
	{ifset $currentCssPage} 
		<link rel="stylesheet" href="{$basePath}/style/{$currentCssPage}.css">
	{/ifset}
    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
	<!-- Kontrolný formulár -->
    <div id="unclick-background" style="display: none;"> 
		<div id="control-formular">
			{ifset $userProjekts}
				<p>Naozaj, chcete zmazať projekt?</p><br>
			{/ifset}
			<button id="cancel-control-formular" >zrušiť</button> <button id="delet-projekt-button">zmazať</button>
		</div>
	</div>

	<header>
	
		<ul>
		
			<li><a n:href="Home:">Domov</a></li>
			{if $user->isLoggedIn()}
				<li><a n:href="ProjektsPage:projektsPage">Projekty</a></li>
			{/if}
			{if $user->isLoggedIn()}
				<li><a n:href="SignIn:SignOut" >odhlásiť sa</a></li>
			{else }
				<li><a n:href="Registration:registration">Registracia </a></li>
				<li><a n:href="SignIn:signIn">Prihlásenie </a></li>
			{/if}

		</ul>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	</header>
	
	<main>
		
		{include content}
	</main>
	<footer>
		<p> created by: &copy Oliver Chalúpka</p>
	</footer>

<!--scripty -->

	{block scripts}
	<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
	{/block}
</body>
</html>
